export("calculateThreshold","segmentImage","createTrainingSet","createClassifier","classifyCells","calculateCellularity","processAperio")
import(EBImage)
importFrom(e1071,svm,interpolate)
importFrom("foreach","foreach","%do%")
importFrom(MASS,kde2d) 